<table
  role="presentation"
  width="100%"
  cellpadding="0"
  cellspacing="0"
  style="background:#0f172a;color:#fff;"
>
  <tr>
    <td style="padding:20px 24px; font-family:Arial, Helvetica, sans-serif;">
      <span style="font-size:18px; font-weight:700;">{{brandName}}</span>
    </td>
  </tr>
</table>